.layout{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top right, #9ac4a3, #3c739c);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form__container{
    margin-top: 6rem;
    margin-bottom: 2rem;
    background-color: #24303c;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 0 20px 1px black;
    filter: blur(.4px);
}
.form__title{
    font-weight: 700;
    font-size: 25px;
}
.form__registro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
input{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    background-color: #24303c;
    border: solid 2px #2a3f64;
    border-radius: 5px;
    font-weight: 600;
}
input:focus{
    border-color: #3566d9;
}
.submit{
    background-color: #1f52c5;
    border: solid 2px #1f52c5;
    font-size: 16px;
    font-weight: 600;
    transition: all 500ms ease-in-out;
}
.submit:hover{
    transform: scale(1.02);
    border-color: #3566d9;
}

.form__login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__login a{
    text-decoration: none;
}